@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jersey+15&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pangolin&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=volume_mute");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=no_sound");

html, body {
  background-color: rgb(0, 0, 0);
  color: #1c1324;
  --font-default: "Open Sans";
  --font-pixel: "Jersey 15";
  --font-happy: "Pangolin";
  font-family: var(--font-pixel);
  font-size: large;
  margin: 0;
  padding: 0;
  height: 100%;
}

.bg {
  position: absolute;
  background-size: cover;
  background-position: center center;
  height: 100vh;
  width: 100vw;
  opacity: 0;
  transition: opacity 1.2s ease;
  overflow: hidden;
}

.bg.active {
  opacity: 1;
  transition: opacity 2s ease;
}

.bg.lightly {
  background-image: url(assets/lightly_bg.png)
}

.bg.kaos {
  background-image: url(assets/kaos_bg.png);
}

.bg.marygold {
  background-image: url(assets/marygold_bg.png);
}

.bg.crashado {
  background-image: url(assets/crashado_bg.png);
  background-repeat: repeat;
  background-size: 799px;
}

.bg.gamelabinc {
  background-image: url(assets/gamelabinc_bg.png);
}

.bg.mario {
  background-image: linear-gradient(to bottom, #b1defe, #3b8cce);
}

.bg.bird {
  background-image: url(assets/bird_bg.png);
  background-repeat: repeat;
  background-size: 294px;
}

.languages {
  z-index: 9;
  padding: 10px;
  position: absolute;
}

.centered {
  height: 100%;
  width: 100%;
  align-content: center;
  justify-content: center;
  z-index: 1;
}

.portfolio-library {
  height: 95vh;  
  z-index: 2;
}

.dock-container {
  display: flex;
  width: 100%;
  justify-content: center;
  z-index: 3;
}

.dock {
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 800px;
  gap: 1.5rem;
  padding: 2rem 3rem;
}

.dock::-webkit-scrollbar {
  display: none;
}

.soundbutton {
  width: 50px;
  height: 50px;
  border: none;
  cursor: pointer;
  position: relative;
  background-color: #00000000;
  top: -65px;
  left: calc(100% - 60px);
  background-image: url(assets/icons/muted.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.soundbutton.active {
  background-image: url(assets/icons/unmuted.svg);
}

.tool-icon {
  display: inline-block;
  width: 180px;
  height: 50px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 8px;
}

.icon-unity {
  background-image: url("assets/icons/unity_logo_light.svg");
}

.icon-godot {
  background-image: url("assets/icons/godot_logo.svg");
}

.icon-phaser {
  background-image: url("assets/icons/phaser_logo.svg");
}


.iconbutton {
  flex-shrink: 0;
  width:  55px;
  height: 55px;
  border: none;
  cursor: pointer;
  padding: 0;
  outline: 0px solid #ffffff00;
  outline-offset: -1px;
  border-radius: 5px;
  border: 1px solid #fff;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: grayscale(100%);
  transition: all 0.2s ease;
  box-shadow: 0 5px 7px 0 rgba(0, 0, 0, 0.71), 0 -4px 0 0 rgba(0, 0, 0, 0.25) inset;
  background-image: url(assets/robotcelebrate3x.png)
}

.iconbutton:hover {
  outline: 2px solid #ffffff90;
  filter: grayscale(0%);
}

.iconbutton.active {
  outline: 3px solid #ffffff;
  filter: grayscale(0%);
  transform: scale(1.4);
}

.iconbutton.lightly {
  background-image: url(assets/lightly_button.png);
}

.iconbutton.kaos {
  background-image: url(assets/kaos_button.png);
}

.iconbutton.marygold {
  background-image: url(assets/marygold_button.png);
  background-color: #bce6ff;
}

.iconbutton.crashado {
  background-image: url(assets/crashado_button.png);
  background-color: #fff;
  background-size: 90%;
}

.iconbutton.gamelabinc {
  background-image: url(assets/gamelabinc_button.png);
}

.iconbutton.mario {
  background-image: url(assets/mario_button.png);
  background-size: 101%;
  background-position: 1px;
  background-color: #000000;
}

.iconbutton.bird {
  background-image: url(assets/bird_button.png);
  background-size: 110%;
}

.iconbutton.mario.active {
  background-image: url(assets/mario_button.gif);
}

.gameinfo {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  box-sizing: border-box;
}

.gameinfo-container {
  position: absolute;
  box-sizing: border-box;
  height: 95%;
  top: -30px;
  width: 100%;
  display: flex;
  padding: 70px 80px;
  align-items: flex-start;
  gap: 30px;
  flex: 1 0 0;
  align-self: stretch;
  opacity: 0;
  visibility: hidden;
  transition: all 0.4s ease;
  z-index: 1;
}

.gameinfo-container.active {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.8s ease;
  z-index: 2;
}

.gameinfo-desc-labels {
  z-index: 9;
}

.label {
  color: #ffffffbd;
  display: inline-block;
  white-space:nowrap;
  background-color: #880542;
  padding: 2px 8px 5px 8px;
  border-radius: 5px;
  margin: 2px;
  box-shadow: 0px -3px 0px 0px #0000004a inset;
}

.label.twentyfour {
  background-color: #707070;
}

.label.twentyfive {
  background-color: #cdbd44;
}

.label.godot {
  background-color: #478cbf;
}

.label.unity {
  background-color: #1d2125;
}

.label.phaser {
  background-color: #646995;
}

.label.gamejam {
  background-color: #8b47bf;
}

.label.animation {
  background-color: #880542;
}

.label.music {
  background-color: #95af1f;
}

.label.gamedesign {
  background-color: #866482;
}

.label.pixelart {
  background-color: #c37e0f;
}

.label.mobile {
  background-color: #16aaa0;
}

.label.assembly {
  background-color: #682308;
}

.label.c {
  background-color: #1a2b6e;
}

.label.csharp {
  background-color: #1a6e33;
}

.label.javascript {
  background-color: #bd910f;
}

.label.java {
  background-color: #cd822d;
}

.label.python {
  background-color: #c6bd39;
}

.label.gdscript {
  background-color: #285678;
}

.gameinfo-desc {
  --text-bg: #00000033;
  display: flex;
  position: relative;
  width: 400px;
  max-width: 40%;
  padding: 10px 10px;
  flex-direction: column;
  align-items: flex-start;
  gap: 6px;
  align-self: stretch;
  background-color: #d1c2ff;
  border-radius: 5px;
  padding-bottom: 15px;
  box-shadow: 0 -6px 0px 0px rgb(111, 99, 139) inset;
}

.gameinfo-desc.lightly {
  color: rgb(255, 242, 208);
  background-color: #392F58;
  box-shadow: 0 -6px 0px 0px rgb(27, 15, 55) inset;
}

.gameinfo-desc.kaos {
  color: rgb(255, 255, 255);
  background-color: #3f3f74;
  box-shadow: 0 -6px 0px 0px #222034 inset;
}

.gameinfo-desc.marygold {
  --text-bg: #f1d2ad;
  color: #000;
  outline: 3px solid #955e17;
  outline-offset: -2px;
  background-color: #e7c499;
  box-shadow: 0 -6px 0px 0px #955e17 inset;
}

.gameinfo-desc.crashado {
  color: #000;
  outline: 3px solid #000000;
  outline-offset: -2px;
  background-color: #ffffff;
  box-shadow: 0 -6px 0px 0px #595959 inset;
}

.gameinfo-desc.gamelabinc {
  color: #FFF;
  background-color: #4747FF;
  box-shadow: 0 -6px 0px 0px #323278 inset;
}

.gameinfo-desc.mario {
  color: #000;
  background-color: #DB7D36;
  outline: 3px solid #000000;
  outline-offset: -2px;
  box-shadow: 0 -6px 0px 0px #40362F inset;
}

.gameinfo-desc.bird {
  color: #ffffff;
  background-color: #1318a8;
  box-shadow: 0 -6px 0px 0px #090c61 inset;
}

.gameinfo-desc-text {
  flex: 1 0 0;
  align-self: stretch;
  overflow-y: auto;
  background-color: var(--text-bg);
  border-radius: 5px;
  padding: 15px;
  scrollbar-color: #ffffff93 rgba(0, 0, 0, 0.177);
}

.gameinfo-desc-text p {
  margin-top: 0;
  margin-bottom: 0.75em;
}

.gameinfo-desc-text a:link {
  color: #0055e7;
  text-decoration: none;
}

.gameinfo-desc-text a:hover {
  color: #71a5ff;
  text-decoration: underline;
}

.gameinfo-desc-text a:visited {
  color: #953ac3;
  text-decoration: underline;
}

.gameinfo-desc-text .label {
  display: inline;
  position: relative;
  font-size: smaller;
  top: -2px;
}

.gameinfo-desc-links {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  gap: 10px;
  text-align: center;
}

.downloadbutton {
  color: #fff;
  font-family: var(--font-pixel);
  font-size: x-large;
  background-color: rgb(255, 81, 81);
  border: none;
  border-radius: 5px;
  width: 100%;
  height: 50px;
  padding-bottom: 6px;
  box-shadow: 0px -6px 0px 0px #00000073 inset;
  cursor: pointer;
  text-decoration: none;
  line-height: 50px;
}

.downloadbutton.itch {
  background-color: #fa5c5c;
}

.downloadbutton.browser {
  background-color: rgb(76, 76, 200);
}

.downloadbutton.googleplay {
  background-color: #75006f;
}

.downloadbutton.repo {
  background-color: #292929;
}

.downloadbutton:hover {
  filter: brightness(1.2);
  outline: 3px solid #fff;
}

.downloadbutton:active {
  transform: translateY(1px);
  height: 48px;
  margin-top: 2px;
  padding-bottom: 4px;
  box-shadow: 0px -4px 0px 0px #00000073 inset;
}

.gameinfo-desc-header {
  height: 60px;
  align-self: stretch;
  text-align: center;
}

.gameinfo-desc-header-title {
  padding-top: 10px;
  font-size: 50px;
  font-variant: small-caps;
}

.gameinfo-desc-header-logo {
  width: 220px;
  padding: 10px, 10px;
  position: relative;
  top: -50px;
  pointer-events: none;
}

.gameinfo-desc-header-logo.lightly {
  content:url(assets/lightly_logo.png);
  width: 220px;
}

.gameinfo-desc-header-logo.kaos {
  content:url(assets/kaos_logo.png);
  width: 150px;
  top: -70px
}

.gameinfo-desc-header-logo.marygold {
  content:url(assets/marygold_logo.png);
  width: 190px;
  top: -35px;
}

.gameinfo-desc-header-logo.crashado {
  content:url(assets/crashado_logo.png);
  width: 300px;
  top: -30px
}

.gameinfo-desc-header-logo.gamelabinc {
  content:url(assets/gamelabinc_logo.png);
  width: 120px;
  top: -65px
}

.gameinfo-media {
  position: relative;
  flex: 1 0 0;
  align-self: stretch;
  background-color: rgba(0, 0, 0, 0.30);
  border-radius: 5px;
}

.gameinfo-media video {
  border-radius: 5px;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.gameinfo-media video.marygold {
  object-position: bottom;
}

.gameinfo-media video.bird {
  object-position: top left;
}

.gameinfo-media iframe {
  border-radius: 5px;
}

.gameinfo-media::after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 5px;
  box-shadow: 0 -6px 0px 0px rgba(0, 0, 0, 0.39) inset;
  outline: 2px solid #ffffff7d;
  pointer-events: none;
}

.portfolio-library {
  max-width: 1600px;
  max-height: 1000px;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 768px) {
  .dock {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none;
    --f :40px; /* control the fading */

    -webkit-mask:
      linear-gradient(90deg, rgba(0, 0, 0, 0.00) 0%,  #FFF 10%, #FFF 90%, rgba(0, 0, 0, 0.00) 100%);
    -webkit-mask-repeat: no-repeat;
    padding: 2rem 7rem;
  }

  .gameinfo-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    flex: 1 0 0;
    align-self: stretch;
    overflow: auto;
    padding: 91px 10px;

    -webkit-overflow-scrolling: touch;
    scrollbar-width: none;
    --f :40px; /* control the fading */

    -webkit-mask:
      linear-gradient(0deg, rgba(0, 0, 0, 0.00) 0%,  #FFF 10%, #FFF 85%, rgba(0, 0, 0, 0.00) 95%);
    -webkit-mask-repeat: no-repeat;
  }

  .gameinfo-media {
    flex: none;
    height: 50vw;
    align-self: stretch;
  }

  .gameinfo-desc {
    display: flex;
    width: auto;
    max-width: none;
    height: auto;
    flex-direction: column;
    align-items: flex-start;
    flex: 1 0 0;
    align-self: stretch;
  }

  .gameinfo-desc-text {
    height: auto;
    overflow-y: inherit;
  }
}